@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  width: 300px;
  padding: 20px 0;
  border: double #e4007f;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;

  font-family: "pretendard";
}
#me {
  font-size: 20px;
  font-weight: 700;
  cursor: default;
}

button {
  font-family: "pretendard";
  font-size: 16px;
  font-weight: 500;
  color: black;

  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
  width: 35%;

  cursor: pointer;
}
button:disabled {
  cursor: default;
}
#auth {
  font-size: 20px;
  margin: 40px 0;
}

#searchResult,
#chart {
  font-size: 16px;
  line-height: 1.6em;

  display: flex;
  flex-direction: column;
  row-gap: 5px;

  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  max-height: 160px;
  overflow: auto;
  padding: 5px;
  margin: 0 10px;
}

.music {
  cursor: pointer;
  position: relative;
}
.music.liked {
  color: #e4007f;
}
.music::after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 1px;
}
